@import url("https://fonts.googleapis.com/css?family=Croissant One&effect=fire");

body{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Croissant One , sans-serif;
}
h1{
    color: blanchedalmond;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.game{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}
.turn{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 20px;
    color: blanchedalmond;
    font-size: 30px;
}
button{
    background-color: blueviolet;
    color: burlywood;
    padding:5px 30px;
    border-radius: 15px;
    font-size: 20px;
    cursor:pointer;
}
h2{
    color: bisque;
}
.choice{
    padding: 40px;
}
.moves{
    font-size: 1.5rem;
    color: blanchedalmond;
}
.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .winning-message.show {
    opacity: 1;
    visibility: visible;
  }
  
  .winning-message-text {
    font-size: 2em;
    color: white;
  }
  
  .winning-message[aria-hidden="false"] {
    display: flex;
  }
  
  .winning-message > div {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  }
  .winning-message{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  }
  